body, html {
	margin: 0;
	height: 100%;
}

body {
	background: linear-gradient(#29454B, #000000);

	/* MSIE */
	filter: progid:DXImageTransform.Microsoft.Gradient(
	StartColorStr='#09284B', EndColorStr='#000000', GradientType=0);
}

ul li {
	list-style-type: square;
}

h2, ul li {
	font-family: Verdana,Arial,sans-serif;
	font-weight: lighter;
	color: black;
}

.canvashtml-content {
	font-size: 1em;
}

.unpadded-dialog .ui-dialog-content {
	padding: 0px;
}

/* Search results */
.result_name {
	font-size: 10pt;
}

div.error-item {
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: silver;
	padding: 4px;
	width: 450px;
}

#errors-dialog {
	max-height: 250px;
	white-space: pre-wrap;
	word-wrap: break-word;
}

#tooltip {
	position: absolute;
	z-index: 65535;
	background-color: #FFFFCC;
	border: 2px solid #AAAAAA;
	border-radius: 5px;
	box-shadow: 3px 4px 13px 0px #444444;
	box-sizing: border-box;
	font-family: sans-serif;
	font-size: 9pt;
	padding: 9px;
}