html {
	margin: 0px;
	height: 100%;
}

body {
	background-color: #29454B;
	/*background-image: linear-gradient(#29454B, black);*/
	margin: 0px;
	width: 100%;
	min-height: 100%;
	/* Internet Explorer*/
	/*scrollbar-face-color: rgb(84, 106, 111);
	scrollbar-track-color: #29454B;*/
}

/** {
	scrollbar-face-color: #BBBBBB;
	scrollbar-track-color: #EEEEEE;	
}

body::-webkit-scrollbar {
	background: #29454B;
	height: 14px;
}

body::-webkit-scrollbar-thumb {
	background-color: rgba(255, 255, 255, 0.2);
}*/

input[type=checkbox], input[type=radio] {
	vertical-align: middle;
}

::placeholder { color: #AAAAAA; opacity: 1; font-style: italic; }
::-webkit-input-placeholder { color: #AAAAAA; opacity: 1; font-style: italic; }
::-moz-placeholder { color: #AAAAAA; opacity: 1; font-style: italic; }

/*ul li {
	list-style-type: square;
}

h2, ul li {
	font-family: Verdana,Arial,sans-serif;
	color: black;
}*/

a[onclick] {
	cursor: pointer;
	text-decoration: underline;
}

.unpadded-dialog .ui-dialog-content {
	padding: 0px;
}

/* Search results */
.invalid_form {
	background-color: #FFCCCC;
}

.result_name {
	font-size: 1.2em;
}

.result_separator {
	font-weight: bold;
}

.result_value {
	opacity: 0.55;
	white-space: nowrap;
	overflow: hidden;
}

.result_parameters {
	opacity: 0.55;
	white-space: nowrap;
	overflow: hidden;
	margin-left: 1.2pt;
}

#tooltip {
	position: absolute;
	z-index: 65535;
	background-color: #FFFFCC;
	border: 2px solid #AAAAAA;
	border-radius: 5px;
	box-shadow: 3px 4px 13px 0px #444444;
	box-sizing: border-box;
	font-family: sans-serif;
	font-size: 9pt;
	padding: 9px;
}

.noselect {
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

#dialog-extend-fixed-container {
	pointer-events: none;
}

#dialog-extend-fixed-container .ui-dialog {
	pointer-events: auto;
}

.ui-dialog-buttonset button:not(:first-child) {
    margin-left: 27px;
}

@keyframes window-activated {
	from {border-color: white;}
	to {border-color: red;}
}

.window-activated:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border: 4px solid red;
	animation-name: window-activated;
	animation-duration: 0.15s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: linear;
}

/* use a pseudo element to make a border without causing the window contents to move */
.window-highlighted:after {
	content: "";
	position: absolute;
	z-index: 2147483645; /* one less than the z-index used for the raised window */
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border: 4px solid yellow;
	pointer-events: none;
}

