div.explore-main {
	position: fixed;
	top: 45px;
	right: 0;
	bottom: 0;
	width: 300px;
	background: #eee;
	z-index: 65533;
	display: flex;
	flex-direction: column;
}

div.explore-symbols {
	margin: 10px;
	min-height: 200px;
	overflow-y: auto;
}

div.explore-entry {
	margin-left: 20px;
	font-size: 10pt;
	position: relative;
}

div.explore-entry:before {
	display: inline-block;
	position: absolute;
	content: "";
	left: -10px;
	border-top: 1px solid #aaa;
	top: 7px;
	width: 6px;
	height: 0;
}

div.explore-entry:after {
	display: inline-block;
	position: absolute;
	content: "";
	left: -10px;
	border-left: 1px solid #aaa;
	top: 2px;
	width: 0px;
	height: 100%;
}

.explore-entry > div:last-child:after {
	height: 5px;
}

.explore-entry:last-child:after {
	height: 5px;
}
