div.explore-main {
	position: fixed;
	top: 45px;
	right: 0;
	bottom: 0;
	width: 300px;
	background: #eee;
	z-index: 65533;
	display: flex;
	flex-direction: column;
}

div.explore-symbols {
	margin: 10px;
	min-height: 200px;
	overflow-y: auto;
}

div.explore-entry {
	margin-left: 20px;
}
