div.feedback-icon {
	position: fixed;
	z-index: 100000;
	right: 20px;
	bottom: 20px;
	font-family: "FontAwesome";
	font-size: 40pt;
	/*color: white;*/
	cursor: pointer;
	opacity: 0.5;
}

div.feedback-icon:hover {
	opacity: initial;
}

div.feedback-dialog {
	position: fixed;
	right: 20px;
	bottom: 20px;
	width: 400px;
	top: 85px;
	background: white;
	z-index: 100001;
	border-color: #888;
	border-style: solid;
	border-width: 0 1px 1px 1px;
	box-shadow: 0 0 10px #4a6887;
	border-radius: 15px;
}

div.feedback-scroller {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: auto;
}

div.feedback-scroller::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
 
div.feedback-scroller::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 10px;
}

div.feedback-scroller::-webkit-scrollbar-track {
  background: #ddd;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

div.feedback-dialog:after {
  content:"";
  position:absolute;
  top:-30px; /* value = - border-top-width - border-bottom-width */
  right:50px; /* controls horizontal position */
  bottom:auto;
  left:auto;
  border-width:30px 20px 0 0; /* vary these values to change the angle of the vertex */
  border-color:transparent white;
  border-style:solid;
  display:block;
  width:0;
}

div.feedback-title {
	margin-top: 10px;
	margin-left: 15px;
	margin-right: 15px;
}

span.feedback-icon2 {
	font-family: "FontAwesome";
	font-size: 18pt;
	color: #29454B;
	margin-right: 10px;
}

span.feedback-title-text {
	font: 12pt "Source Sans Pro",UILanguageFont,Arial,sans-serif;
	font-weight: bold;
	color: #29454B;
}

span.feedback-close {
	font-family: "FontAwesome";
	font-size: 14pt;
	color: black;
	float: right;
	cursor: pointer;
}

div.feedback-result {
	margin: 15px;
	font: 10pt "Source Sans Pro",UILanguageFont,Arial,sans-serif;
	margin-bottom: 20px;
	border-bottom: 1px solid #eee;
}

div.feedback-result.newitem {
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

div.feedback-result .markdown {
	font-size: 10pt;
}

span.feedback-author {
	font-weight: bold;
	color: #666;
	margin-right: 10px;
}

span.feedback-date {
	color: #666;
}

div.feedback-input {
	position: relative;
	/*height: 80px;*/
	margin-top: 10px;
	margin-bottom: 3px;
}

span.feedback-delete {
	font-family: "FontAwesome";
	font-size: 14pt;
	color: #ddd;
	cursor: pointer;
	float: right;
}

span.feedback-delete:hover {
	color: #666;
}

div.feedback-buttons {
	text-align: right;
	margin-bottom: 10px;
	margin-right: 10px;
}

div.feedback-signinmsg {
	padding: 20px;
	color: #444;
}

