div#main_menu {
	background-color: black;
	color:	white;
	font-size: 14px;
	font-family: 'arial';
	padding-left: 20px;
	padding-top: 4px;
}

a.main_menu_item {
	padding-top: 4px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 8px;
	text-decoration: none;
	font-size: 12px;
	font-family: 'arial';
	color: #dadada;
}

#main_menu > div {
	display: block;
}

#version-number {
	float: right;
}

a.main_menu_item_sel {
	padding-top: 4px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 8px;
	text-decoration: none;
	font-size: 12px;
	font-family: 'arial';
	color: white;
	font-weight: bold;
}

div#title_bar {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 25px;
	height: 80px;
	background-color: #117fe5;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: #e0e0e0;
}

div#title_text {
	position: absolute;
	left: 280px;
	top: 20px;
	font-family: 'arial';
	font-size: 40px;
	font-weight: bold;
	color: white;
	z-index: 3;
}

div#content {
	position: absolute;
	top: 125px;
	left: 0px;
	right: 0px;
	padding: 10px;
	background-color: white;
}
