span.eden-script {
	font-family: 'Roboto Mono',monospace;
	-webkit-font-smoothing: antialiased;
	color: #2b4957;
}

span.eden-keyword {
	font-weight: bold;
	color: #a40000;
}

span.eden-storage {
	font-weight: bold;
	color: #4e9a06;
}

span.eden-special {
	color: #c4a000;
}

span.eden-constant {
	color: #4e9a06;
}

span.eden-type {
	font-weight: bold;
	color: #3465a4;
}

span.eden-function {
	color: #ce5c00;
}

span.eden-javascript {
	color: #c4a000;
}

span.eden-javascript-bold {
	color: #c4a000;
	font-weight: bold;
}

span.eden-section-line {
	padding-top: 10px;
	padding-right: 50px;
	/*border-top: 1px solid #aaa;*/
}

.eden-line button {
	/*font-family: "FontAwesome";*/
	font-size: 10pt;
	border-radius: 5px;
	background: #666;
	outline: none;
	border: 1px solid #aaa;
	margin-left: 3px;
	margin-right: 3px;
	padding: 2px;
	padding-left: 10px;
	padding-right: 10px;
	height: 24px;
	cursor: pointer;
	color: white;
	text-shadow: 0 3px 3px black;
}

.eden-line button:hover {
	background: #29454B;
}

div.eden-section-line:after {
	content: "";
	background: #aaa;
	height: 1px;
	position: absolute;
	left: 0;
	right: 0;
	margin-top: -10px;
}

span.eden-comment {
	/*font-style: italic;*/
	
}

span.eden-blockcomment {
	font-style: italic;
	color: #aaa;
}

div.eden-comment-line {
	color: #777;
	font-size: 14px;
	font-family: "Source Sans Pro",Arial,Helvetica,sans-serif;
	line-height: 20px;
	white-space: pre-wrap;
	word-wrap: initial;
	text-align: justify;
	display: inline-block;
}

div.eden-comment-line.current {
	text-align: left;
}

li.eden-comment {
	margin-left: 10px;
	white-space: normal;
}

span.eden-comment-faded {
	color: #ccc;
}

span.eden-comment-hidden {
	display: none;
}

div.current span.eden-comment-hidden {
	display: initial;
	color: red;
	font: 14px "Source Sans Pro",Arial,Helvetica,sans-serif;
	font-weight: bold;
}

span.eden-comment-ul {
	white-space: normal;
}

span.eden-comment-ul:before {
	content: "\f111";
	color: #2b4957;
	margin-left: 10px;
	margin-right: 15px;
	font-family: "FontAwesome";
	font-size: 8px;
}


span.eden-comment-faded-h1 {
	color: #aaa;
	font-size: 16pt;
}

span.eden-comment-bold {
	/*font: 14px Arial,Helvetica,sans-serif;*/
	font-weight: bold;
	/*color: #555;*/
}

span.eden-comment-emph {
	/*font: 14px Arial,Helvetica,sans-serif;*/
	font-style: italic;
	color: #555;
}

span.eden-comment-query {
}

span.eden-comment-query:before{
	content: attr(data-result);
}

div.current span.eden-comment-query:before {
	background-color: #cce;
}

div.eden-comment-h1 {
	color: #666;
	font: 16pt "Source Sans Pro",Arial,Helvetica,sans-serif;
	font-weight: bold;
}

div.eden-comment-h2 {
	color: #666;
	font: 14pt "Source Sans Pro",Arial,Helvetica,sans-serif;
}

div.eden-comment-h3 {
	color: #666;
	font: 12pt "Source Sans Pro",Arial,Helvetica,sans-serif;
	font-weight: bold;
}

div.eden-comment-h4 {
	color: #666;
	font: 12pt "Source Sans Pro",Arial,Helvetica,sans-serif;
}

span.eden-comment-icon {
	color: #2b4957;
	font-size: 16px;
}

div.eden-line-script {
	margin-left: 20px;
	display: inline-block;
}

span.eden-doxycomment {
	font-style: italic;
	color: #657ed9;
}

div.eden-doxycomment {
	font-style: italic;
	color: #657ed9;
	margin-left: 20px;
}

span.eden-number {
	color: #ad7fa8;
	cursor: ew-resize;
}

span.eden-selector {
	color: blue;
}

span.eden-selector2 {
	color: blue;
	font-weight: bold;
}

span.eden-selector3 {
	color: #ad7fa8;
	/*font-weight: bold;*/
}

span.eden-string {
	color: #cc0000;
}

span.eden-operator {
	color: black;
}

span.eden-path {
	color: blue;
}

span.eden-importopt {
	color: #ad7fa8;
}

span.eden-doxytag {
	font-style: normal;
	/*font-weight: bold;*/
	color: #3557d9;
}

span.eden-doxytagerror {
	font-style: normal;
	font-weight: bold;
	color: #cc0000;
}

span.eden-backticks {
	background-color: #f6e1f4;
}


span.eden-error {
	background-color: #ffdcdc;
	/*box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	border: 1px dotted #d57878;*/
}

span.eden-select {
	background-color: #cfe4ff;
	/*border: 1px dotted #3465a4;*/
}

span.eden-observable.select {
	background-color: #bbb;
}

div.outputcontent.inspect span.eden-observable {
	cursor: pointer;
}

div.outputcontent.inspect span.eden-pathblock:hover {
	cursor: pointer;
	text-decoration: underline;
}

div.outputcontent.goto span.eden-observable {
	cursor: pointer;
}

div.outputcontent.goto span.eden-observable:hover {
	cursor: pointer;
	text-decoration: underline;
	color: blue;
}

div.outputcontent.goto span.eden-pathblock:hover {
	cursor: pointer;
	text-decoration: underline;
}




div.eden-warnline:before {
	position: absolute;
	content: "\f071";
	font-family: "FontAwesome";
	/*background-image: url('../../images/exclamation.png');
	background-repeat: no-repeat;
	background-position: center;*/
	left: -22px;
	padding-left: 4px;
	color: orange;
	/*background-color: #f2f2a0;*/
	width: 16px;
	height: 20px;
}

span.eden-drag-observable {
	font: 14px/20px 'Roboto Mono',monospace;
	-webkit-font-smoothing: antialiased;
	background-color: #cfe4ff;
	padding: 10px;
	border: 1px solid #204a87;
}

div.eden-line {
	/*position: absolute;*/
	/*top: 20px;*/
	/*display: inline;*/
	/*min-width: 6px;*/
	/*width: 100%;*/
	/*height: 20px;*/
	margin-left: -5px;
	padding-left: 5px;
	margin-right: 20px;
	line-height: 20px;
	/*right: 0;*/
	/*left: 43px;*/
	/*z-index: 2;*/
}

div.eden-comment-blockquote {
	border-left: 2px solid #2b4957;
	background-color: #eee;
	margin-left: 25px;
	margin-right: 50px;
	padding-left: 30px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	white-space: normal;
}

