div#loadoptions {
			position: relative;
			/*top: 55px;*/
		}

div#footer {
	font-family: "Source Sans Pro",Arial,sans-serif;
	font-size: 9pt;
	color: #666;
	background: white;
	padding: 40px;
	box-sizing: border-box;
	margin-top: 30px;
	display: flex;
	justify-content: space-between;
	align-content: center;
	border-top: 1px solid #ddd;
}

div#footerfunding {
	width: 250px;
	text-align: right;
}

div#footerlinks {
	font-size: 11pt;
	color: #666;
	width: 40%;
	line-height: 150%;
}

div#footerlinks a {
	text-decoration: none;
	color: #666;
}

div#footerlinks a:visited {
	color: #666;
}

div#footerlinks a:hover {
	color: black;
}
		

		div.project-content {
			/*position: relative;
			left: 220px;
			width: calc(100% - 440px);*/
			font-family: "Source Sans Pro",Arial,sans-serif;
			font-size: 13pt;
			line-height: 150%;
		}

		div.cadence-plisting-login {
			/*width: 200px;
			height: 150px;*/
			margin: 5px;
			background: #f5f5f5;
			cursor: pointer;
			color: #424249;
			font-size: 18pt;
			font-weight: bold;
			font-family: "Source Sans Pro",Arial,sans-serif;
			text-align: center;
			border: 1px solid #ddd;
			padding: 10px 30px;
			/*text-shadow: 0 0 5px silver;*/
		}

		span.cadence-plisting-loginicon {
			font-family: "FontAwesome";
			margin-right: 10px;
		}


		div.importdialog {
			position: absolute;
			top: 65px;
			right: 150px;
			width: 400px;
			height: 200px;
			background: #f5f5f5;
			border-bottom-left-radius: 6px;
			border-bottom-right-radius: 6px;
			box-shadow: 0 0 15px #4a6887;
			font-size: 12pt;
			color: black;
		}

		span.importdialog-icon {
			font-family: "FontAwesome";
			margin-right: 20px;
		}

		div.importdialog-title {
			font-size: 16pt;
			font-weight: bold;
			margin-top: 20px;
			margin-left: 20px;
			color: #666;
		}

		div.importdialog-content {
			margin: 20px;
			color: black;
		}

		input.projectsearch {
			width: 200px;
			background: #eee;
			color: #222;
			font-size: 10pt;
			padding: 4px;
			padding-left: 40px;
			border: 1px solid #bbb;
		}

		input.projectsearch:hover {
			background: white;
		}

		input.projectsearch:focus {
			background: white;
		}

		div.projectsearch:before {
			color: white;
			font-size: 14pt;
			/*left: -285px;*/
			top: 3px;
		}

		div#welcometext {
			text-align: justify;
			background: white;
			/*background: linear-gradient(to bottom, white 0%,#eee 21%,#ddd 49%,#eee 80%,white 100%);*/
			padding: 40px 40px;
			/*border-bottom: 1px solid #ddd;*/
			color: #444;
			height: 415px;
			padding-right: 0;
			position: relative;
		}

		div#welcometext h1 {
			color: black;
		}

		img#welcometitle {
			/*font-family: 'Allerta Stencil', sans-serif;*/
			position: absolute;
			top: 60px;
			left: 540px;
		}

		div#welcomecontent {
			position: absolute;
			top: 220px;
			left: 550px;
			color: #222;
			font-size: 16pt;
			line-height: 40px;
			font-family: 'Open Sans Condensed', sans-serif;
		}

		.hexagon {
		  position: absolute;
		  width: 225px; 
		  height: 129.90px;
		  background-color: #62a0cd;
		  margin: 64.95px 0;
		  color: white;
		  font-size: 20pt;
		  /*line-height: 35px;*/
		  padding: 0 10px;
		  box-sizing: border-box;
		  text-align: center;
		}

		.hexagon:before {
		  bottom: 100%;
		  border-bottom: 64.95px solid;
		  left: 0;
		}

		.hexagon:after {
		  top: 100%;
		  width: 0;
          left: 0;
		  border-top: 64.95px solid;
		}

		.hexagon.blue {
			background: #62a0cd;
		}

		.hexagon.blue:before {
		  bottom: 100%;
		  border-bottom: 64.95px solid #62a0cd;
		  left: 0;
		}

		.hexagon.blue:after {
		  top: 100%;
		  width: 0;
          left: 0;
		  border-top: 64.95px solid #62a0cd;
		}

		.hexagon.orange {
			background: #f7a547;
		}

		.hexagon.orange:before {
		  bottom: 100%;
		  border-bottom: 64.95px solid #f7a547;
		  left: 0;
		}

		.hexagon.orange:after {
		  top: 100%;
		  width: 0;
          left: 0;
		  border-top: 64.95px solid #f7a547;
		}

		.hexagon:before,
		.hexagon:after {
		  content: "";
		  position: absolute;
		  width: 0;
		  border-left: 112.5px solid transparent;
		  border-right: 112.5px solid transparent;
		}

		button.welcomesignin {
			font-size: 14pt;
			font-weight: bold;
			height: initial;
			padding: 5px 20px;
			background-color: #29454B;
			border-radius: 20px;
			display: inline;
			margin: 0;
		}

		button.welcomesignin span.icon {
			font-family: "FontAwesome";
			margin-right: 8px;
		}

		div#welcomelinks {
			border-top: 1px solid #ccc;
			border-bottom: 1px solid #ccc;
			width: 100%;
			background: white;
			box-sizing: border-box;
			
			font-size: 12pt;
			text-align: center;
		}

		div#welcomelinks a {
			display: inline-block;
			height: 100%;
			padding: 0 20px;
			border-right: 1px solid #ddd;
			text-decoration: none;
		}

		div#welcomelinks a:last-child {
			border:right: none;
		}

		div#welcomelinks a:hover {
			/*background: #ddd;*/
		}

		div#project-browser {
			/*margin-top: 60px;
			margin-left: 40px;*/
		}

		div#privateprojects {
			background: white;
			padding: 60px 20px 20px 20px;
		}

		div.public-projects {
			padding: 60px 20px 10px 20px;
		}

		div.popular-tags {
			font-size: 8pt;
			margin-left: 35px;
		}

		div.popular-tags a {
			margin-right: 5px;
		}

		div.videobox {
			padding: 10px;
			background: #888;
			display: flex;
			flex-direction: column;
			position: relative;
			top: -40px;
			right: 0;
			height: 495px;
			box-sizing: border-box;
			justify-content: space-between;
			float: right;
		}

		div.videobox iframe {
			margin-bottom: 10px;
		}

		div.videobox iframe:last-child {
			margin-bottom: 0;
		}

		div.jseden-project-cat.tmpitem {
			margin-top: 50px;
		}

div#projectbuttons {
	width: 100%;
	height: 60px;
	display: flex;
	background: #29454B;
	color: white;
	margin-top: 25px;
	padding-top: 10px;
	justify-content: flex-end;
}

div#projectbuttons button {
	background: #1a5e6d;
	margin-right: 20px;
	border: 2px solid white;
	border-radius: 5px;
	color: white;
	outline: none;
	height: 40px;
	font-size: 14pt;
	font-weight: bold;
	width: 120px;
}

div#projectbuttons button:hover {
	background: #268ba1;
}

div#projectbuttons button:disabled {
	border: 2px solid #aaa;
	color: #aaa;
	background: #29454B;
}

span.icon {
	font-family: 'FontAwesome';
	margin-right: 10px;
}

div.modal-content.p2pmodal {
	display: flex;
	background: white;
	flex-direction: column;
	justify-content: start;
	align-content: center;
	padding: 0 50px;
	padding-top: 20px;
	color: #222;
	font-family: "Source Sans Pro";
	font-size: 20pt;
}

div.modal-content.p2pmodal button {
	background: #1a5e6d;
	margin-bottom: 20px;
	border: 2px solid #666;
	border-radius: 5px;
	color: white;
	outline: none;
	height: 40px;
	font-size: 14pt;
	font-weight: bold;
}

div.modal-content.p2pmodal button:hover {
	background: #268ba1;
}

div.modal-content.p2pmodal button:disabled {
	border: 2px solid #aaa;
	color: #aaa;
	background: #29454B;
}

div.modal-content.p2pmodal input {
	font-size: 14pt;
	padding: 4px 15px;
	outline: none;
	height: 40px;
	border: 2px solid #bbb;
	margin-bottom: 20px;
	border-radius: 5px;
}

div.modal-content.p2pmodal img {
	margin-bottom: 40px;
	margin-left: auto;
	margin-right: auto;
}



