div#eden-logo {
	position: absolute;
	top: 50px;
	left: 30px;
	background-image: url('../images/em-logo.png');
	background-repeat: no-repeat;
	width: 250px;
	height: 70px;
}

div.search-box-outer {
	margin: 15px;
	position: relative;
	height: 24px;
	margin-bottom: 10px;
}

input.search-box {
	position: absolute;
	left: 0px;
	top: 0px;
	/*width: 196px;*/
	height: 24px;
	border-style: solid;
	border-width: 1px;
	border-color: #117fe5;
	background-color: white;
	padding: 2px;
}

input.obs-watch-check {
	position: relative;
	left: -10px;
	top: 0px;
	margin: 0px;
}

div#show-input {
	background-image: url('../images/input-icon.png');
	left: 300px;
}

div.top-button {
	position: absolute;
	top: 30px;
	width: 70px;
	height: 35px;
	background-color: #036dcf;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
}

div.search-button {
	position: absolute;
	right: 0px;
	background-image: url('../images/search-blue.png');
	width: 24px;
	height: 22px;
	top: 0px;
	background-color: #e0e0e0;
	border-top-style: solid;
	border-top-color: #117fe5;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #117fe5;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-right-color: #117fe5;
	border-right-width: 1px;
}

div.search-button-hightlight {
	background-image: url('../images/search-blue.png');
}

div#observable-results {
	overflow-y: hidden;
	font-size: 12px;
	bottom: 0px;
}


div.scrollup {
	background-image: url('../images/scrollup.png');
	background-repeat: no-repeat;
	background-position: top center;
	height: 10px;
}

div.scrolldown {
	background-image: url('../images/scrolldown.png');
	background-repeat: no-repeat;
	background-position: top center;
	height: 10px;
	margin-bottom: 5px;
}

div.results-lim {
	overflow: hidden;
}

.error_text {
	color: red;
}

.special_text {
	font-weight: bold;
}

.numeric_text {
	color: blue;
}

.string_text {
	color: red;
}

.hasdef_text {
	color: #00D400;
	font-weight: bold;
}

div#eden-input {
	position: absolute;
	bottom: 0px;
	top: 0px;
	right: 0px;
	left: 0px;
	background-color: #fafafa;
}

.code {
	position: absolute;
	border-color: #117fe5;
	border-width: 1px;
	border-style: solid;
	/*max-width: 600px;*/
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	overflow: auto;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	background-color: white;
	cursor: text;
}

.defedit {
	position: relative;
	border-color: #117fe5;
	border-width: 1px;
	border-style: solid;
	/*max-width: 600px;*/
	/*height: 50px;*/
	bottom: auto;
	left: auto;
	right: auto;
	overflow: auto;
	margin-top: 10px;
	margin-left: 0px;
	margin-right: 0px;
	background-color: white;
	cursor: text;
}

.code_buttons {
	position: relative;
	margin-left: 10px;
	right: 0px;
	bottom: 0px;
	background-color: #eaeaea;
	cursor: auto;
	font-size: 10pt;
}

div.obs_stats {
	background-color: #fafafa;
	font-size: 12px;
	margin-bottom: 10px;
}

div.obs_inspector {
	background-color: #fafafa;
	font-size: 12px;
	padding: 5px;
}

div.history-error {
	color: red;
}

/* SPINNING LOADER */

.mainloader {
  margin: auto;
  top: 20%;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: mainload8 1.1s infinite linear;
  animation: mainload8 1.1s infinite linear;
}
.mainloader,
.mainloader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
@-webkit-keyframes mainload8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes mainload8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

