#menubar-main {
	position: fixed;
	left: 0px;
	right: 0px;
	top: 0px;
	height: 65px;
	background-color: #132023;
	color:	white;
	font-size: 14px;
	font-family: 'arial';
	padding-left: 20px;
	/*padding-top: 4px;*/
	padding-right: 20px;
	z-index: 65534;
	box-shadow: 0 0 15px black; /*#4a6887*/
}

div.menubar-sharebox {
	position: absolute;
	top: 65px;
	right: 150px;
	width: 400px;
	height: 200px;
	background: #f5f5f5;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	box-shadow: 0 0 15px #4a6887;
	font-size: 12pt;
	color: black;
}

span.menubar-shareicon {
	font-family: "FontAwesome";
	margin-right: 20px;
}

div.menubar-sharebox-title {
	font-size: 16pt;
	font-weight: bold;
	margin-top: 20px;
	margin-left: 20px;
	color: #666;
}

div.menubar-sharebox-content {
	margin: 20px;
	color: black;
}

div.menubar-sharebox-content .projecturl {
	white-space: pre;
	padding: 8px;
	border: 1px solid silver;
	background: white;
	margin-top: 5px;
	margin-bottom: 10px;
	width: 90%;
	overflow-x: auto;
}

div.menubar-sharebox-content .projecttags {
	padding: 5px 8px;
	border: 1px solid silver;
	background: white;
	margin-top: 5px;
	/*margin-bottom: 20px;*/
	width: 90%;
	line-height: 22px;
}

span.project-tag {
	padding: 2px 5px;
	background: #f5f5f5;
	border: 1px solid silver;
	border-radius: 4px;
}

div.menubar-buttons {
	position: absolute;
	right: 20px;
	top: 20px;
	width: 300px;
	display: inline-block;
}

div.menubar-mobilebuttons {
	position: absolute;
	right: 20px;
	top: 20px;
	width: 50px;
	display: inline-block;
}

button.menubar-button {
	/*text-shadow: 0px 0px 2px black;*/
	font-family: "FontAwesome";
	font-size: 26px;
	background: none;
	border: 0;
	cursor: pointer;
	width: 40px;
	outline: none;
	margin-right: 10px;
}

button.menubar-button:hover {
	background: #29454B;
	color: white;
}

button.menubar-button.share {
	color: white;
	margin-right: 30px;
}

button.sharebox-button {
	background: none;
	border: none;
	margin-left: 10px;
	padding-left: 10px;
	color: #29454B;
	font-size: 25px;
	cursor: pointer;
}

button.sharebox-button.upload:before {
	font-family: "FontAwesome";
	font-size: 50px;
	content: '\f0ee';
	position: relative;
	top: 10px;
	padding-right: 10px;
}

button.sharebox-button.publish:before {
	font-family: "FontAwesome";
	font-size: 50px;
	width: 60px;
	content: '\f1e1';
	position: relative;
	top: 10px;
	padding-right: 10px;
}

button.menubar-button.main {
	color: white;
	/*text-shadow: 0px 0px 4px silver;*/
}


div#eden-logo {
	position: absolute;
	top: 14px;
	left: 20px;
	background-image: url('../images/em-logo2.png');
	background-repeat: no-repeat;
	width: 250px;
	height: 70px;
}

div.jseden-title {
	font-size: 18pt;
	font-weight: bold;
	position: absolute;
	top: 12px;
	left: 110px;
	color: white;
	box-sizing: border-box;
	border: 1px solid #132023;
}

div.jseden-title:hover {
	border: 1px solid silver;
}

.menubar-mainitem:hover {
	/*font-weight: bold;*/
	background-color: white;
	color: black;
}

.menubar-mainitem:focus {
	outline: none;
}

.menubar-menu {
	/* prevent text highlighting */
	-khtml-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	display: none;
	font-size: 14px;
	font-family: 'arial';
}

#menubar-bottom {
	position: fixed;
	left: 0px;
	right: 0px;
	top: 65px;
	height: 5px;
	background-image: url('../../images/menu-bottomgrad.png');
	z-index: 2147483645;
}

.menubar-mainitem {
	/* prevent text highlighting */
	-khtml-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	padding-top: 8px;
	padding-left: 5px; /*See addMainItem */
	padding-right: 5px;
	padding-bottom: 8px;
	text-decoration: none;
	font-size: 12px;
	font-family: 'arial';
	font-weight: bold;
	color: #dadada;
	float: left;
	cursor: pointer;
	text-align: center;
	overflow: visible;
	height: 13px;
}

.menubar-item {
	position: relative;
}

.menubar-item-separator {
	margin-top: 10px;
	margin-bottom: 5px;
	font-weight: bold;
	border-top-color: #777;
	border-top-width: 1px;
	border-top-style: solid;
	border-left-width: 0;
	border-right-width: 0;
	border-bottom-color: #777;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	box-shadow: 0 0 10px #4a6887;
	background-color: #eee;
	/*background: -webkit-linear-gradient(#fafafa, #cccccc); 
	background: -o-linear-gradient(#fafafa, #cccccc); 
	background: -moz-linear-gradient(#fafafa, #cccccc); 
	background: linear-gradient(#fafafa, #cccccc); */
}

.menubar-item-search {
    padding-top: 3px;
	margin-top: 2px;
    padding-left: 0.7em;
    padding-right: 0.7em;
	cursor: default;
	background-color: #CCDDFF;
}

.menubar-search-box {
	box-sizing: border-box;
	width: 100%;
}

.menubar-item-separator ~:not([style*='display: none']) {
	margin-top: 10px;
}

.menubar-item:hover {
	background-color: rgba(111, 198, 245, 0.3);
}

.menubar-nonselectable {
	cursor: default;
}

.menubar-nonselectable.menubar-item:hover {
	background-color: inherit;
}

.menubar-item-clickable {
	cursor: pointer;
}

.menubar-item-clickable:hover {
	background-color: #6FC6F5;
	color: white;
}

.menubar-item>* {
	display: inline-block;
}

.menubar-item-label {
	width: calc(100% - 50px);
	padding: 5px;
	vertical-align: middle;
}

.menubar-view-name {
	color: #A0A0A0;
	float: right;
	font-style: italic;
}

.menubar-item-fullwidth {
	box-sizing: border-box;
	width: 100%;
	padding: 5px;
}

.menubar-item-close {
	text-align: center;
	color: red;
	width: 20px;
}

.menubar-item-input {
	text-align: center;
	width: 30px;
}

.menubar-item-pin-icon {
	padding-top: 1px;
	padding-bottom: 1px;
	vertical-align: middle;
}

.menubar-item-close-icon {
	padding: 5px;
}

.menubar-menu {
	position: relative;
	font-weight: normal;
	left: -215px;
	margin-top: 6px;
	padding-bottom: 6px;
	background-color: white;
	border-color: #777;
	border-style: solid;
	border-width: 0px 0px 1px 1px;
	box-shadow: 4px 6px 7px 0px #222;
	color: black;
	width: 250px;
	text-align: left;
	overflow-y: auto;
}

#menubar-mainitem-existing-views {
	width: 305px;
}

.menubar-view {
	padding-left: 2em;
}

/* use a pseudo element to make a border without causing the window contents to move */
.menubar-window-raise:after {
	content: "";
	position: absolute;
	z-index: 2147483645; /* one less than the z-index used for the raised window */
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border: 4px solid red;
}

#menubar-version-number {
	position: relative;
	float: right;
	padding-top: 8px;
	color: #a0a0a0;
	font-size: 10px;
	margin-right: 20px;
}

#menubar-version-number > a {
	color: #b0b0b0;
}

#menubar-login {
	position: absolute;
	top: 32px;
	left: 110px;
	padding-top: 8px;
	color: #e0e0e0;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
}

#menubar-login:hover {
	color: white;
}

#menubar-login a {
	color: #e0e0e0;
	text-decoration: none;
}

#menubar-login span.icon {
	/*content: "\f090";*/
	font-family: "FontAwesome";
	font-size: 12pt;
	padding-right: 5px;
	text-shadow: 0 0 2px white;
}

/*#menubar-obscurer {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5);
	z-index: 655355;
	font-family: Verdana,Arial,sans-serif;
	font-size: 8pt;
}*/

/*div.login-subdialog {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 80px;
	width: 200px;
	background-color: #f5f5f5;
	padding: 20px;
	box-shadow: 0 0 7px black;
	border-radius: 5px;
}*/

iframe.menubar-login-iframe {
	margin-top: 20px;
	/*position: absolute;
	top: 20%;
	margin-left: auto;
	margin-right: auto;*/
}

#menubar-status {
	position: absolute;
	text-align: center;
	padding-top: 4px;
	color: #e0e0e0;
	font-size: 8pt;
	font-weight: bold;
}
