div.projectdetails {
	display: inline-block;
	margin-left: 30px;
	font-size: 10pt;
	font-family: "Roboto",UILanguageFont,Arial,sans-serif;
	color: #444;
	justify-content: space-between;
	line-height: 25px;
	padding-bottom: 5px;
}

div.projectdetails-rating {
	display: inline-block;
	margin-left: 20px;
}

span.projectdetails-star {
	font-family: "FontAwesome";
	font-size: 16pt;
	margin-left: 5px;
	cursor: pointer;
	color: #ddd;
}

span.projectdetails-star.selected {
	color: gold;
	text-shadow: 0 0 5px #222;
}

span.projectdetails-label {
	font-weight: bold;
	margin-right: 5px;
}

div.projectdetails-buttons {
	clear: right;
	margin: 0;
	padding: 20px;
	border-top: 1px solid #aaa;
}

div.projectdetails-forks {
	margin: 20px;
	padding: 5px;
	border: 1px solid #aaa;
	font: 11pt Arial,Helvetica,sans-serif;
}

img.projectdetails-thumb {
	float: right;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
}

