

div.scriptbox-output {
	/*display: inline-block;*/
	/* width: 100%;*/
	/*min-width: calc(100% - 23px);*/
	/*min-height: calc(100% - 1px);*/
	resize: none;
	/*margin-left: 22px;*/
	/*border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #e5e5e5;*/
	box-sizing: border-box;
	padding-left: 8px;
	padding-top: 4px;
	padding-bottom: 3px;
	padding-right: 1px;
	/*padding: 4px;*/
	/*margin: 5px;*/
	cursor: text;
	outline: none;
	font: 12px/18px Roboto Mono,monospace;
	white-space: pre-wrap;
	/*overflow: auto;*/
	/*background: #f5f5f5;*/
	min-width: calc(100% - 50px);
	-webkit-font-smoothing: antialiased;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	color: #2b4957;
}

div.scriptbox-outputbox {
	background: none;
	font-size: 12pt;
	flex-shrink: 0;
	flex-grow: 1;
	flex-basis: 80px;
}

div.scriptbox-value {
	/*margin-top: 5px;*/
	/*padding: 8px;*/
	/*padding-left: 100px;*/
	background: #f0fff0;
	font: 12px/20px Roboto Mono,monospace;
	white-space: normal;
}

div.scriptbox-value.inactive {
	background: #fff0f0;
}

div.scriptbox-valueclose {
	float: left;
	margin-right: 75px;
	margin-left: 5px;
	color: silver;
	font-family: "FontAwesome";
	font-size: 18px;
	cursor: pointer;
}

div.scriptbox-valueclose:hover {
	color: #222;
}

div.scriptbox-valuecontent {
	display: table;
}

div.info-bar {
	position: absolute;
	left: 100px;
	min-width: 200px;
	padding-right: 20px;
	min-height: 30px;
	vertical-align: middle;
	z-index: 7;
	color: white;
	border-radius: 20px;
	font: bold 12px "Helvetica Neue", Sans-Serif;
	box-shadow: 0 0 7px black;
	opacity: 0.9;
	text-align: center;
	background: #204a87;
	border: 2px solid white;
}

div.info-item {
	margin-top: 7px;
	margin-left: 50px;
	margin-right: 5px;
}

div.info-validitem {
	margin-top: 6px;
	/*margin-bottom: 6px;*/
}

/*div.info-validitem:before {
	position: absolute;
	content: "";
	left: 18px;
	top: 4px;
	background-image: url('../../images/bullet_accept.png');
	background-repeat: no-repeat;
	width: 22px;
	height: 22px;
}*/

div.info-warnitem {
	margin-top: 7px;
	margin-left: 50px;
	margin-bottom: 6px;
}

div.info-warnitem:before {
	position: absolute;
	content: "\f06a";
	font-family: "FontAwesome";
	font-size: 14pt;
	color: white;
	left: 10px;
	top: 6px;
	width: 22px;
	height: 22px;
}

div.info-erroritem {
	margin-top: 7px;
	margin-left: 50px;
	margin-bottom: 6px;
}

div.info-erroritem:before {
	position: absolute;
	content: "\f06a";
	font-family: "FontAwesome";
	font-size: 14pt;
	color: white;
	left: 10px;
	top: 6px;
	width: 22px;
	height: 22px;
}

div.scriptbox-statement {
	/*border-bottom: 1px solid #e5e5e5;*/
	border-top: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
	/*margin-top: 6px;*/
	background: #f8f8f8;
	white-space: pre;
	/*overflow-x: auto;
	overflow-y: hidden;*/
	display: flex;
	padding-left: 10px;
}

div.scriptbox-historic {
	display: flex;
}

div.scriptbox-value {
	padding-left: 40px;
}

div.scriptbox-statement:before {
	position: relative;
	font-family: "FontAwesome";
	content: "\f105";
	top: 4px;
}

div.scriptbox-statement.error:before {
	color: red;
}

div.scriptbox-historic:before {
	color: #888;
	position: relative;
	font-family: "FontAwesome";
	content: "\f105";
	font-size: 12pt;
	padding-right: 10px;
}

div.scriptbox-statement.readonly {
	/*-webkit-filter: grayscale(70%);
	filter: grayscale(70%);*/
	background-color: white;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	/*max-height: 27px;*/
	/*opacity: 0.5;*/
}

input.scriptbox-check {
	float: left;
	/*width: 18px;
	margin-left: 5px;*/
	margin-top: 6px;
}

.scriptbox-inputhider { 
	overflow-y: auto;
	flex-shrink: 1;
	flex-grow: 1;
	flex-basis: auto;
}

.scriptbox-codearea {
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	/*margin: 5px;*/
	/*position: absolute;*/
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	border-color: #719ECE;
    /*box-shadow: 0 0 10px #719ECE;*/
	color: #2b4957;/*#233b46;*/
	/*padding-top: 8px;
	padding-left: 5px;*/
	/*background-color: white;*/
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-font-smoothing: antialiased;
	-webkit-transform: translate3d(0,0,0);
	font: 12px/18px Roboto Mono,monospace;
	padding-bottom: 8px;
	padding-left: 10px;
	white-space: pre;
}

.hidden-textarea {
	position: relative;
	left: -30000px;
	white-space: pre;
	word-wrap: normal;
	overflow: auto;
	font: 14px/20px Roboto Mono,monospace;
	tab-size: 4;
}

div.scriptbox-output > div.eden-line {
	display: inline;
}


