.symbol-viewer {
	background: white;
	font-family: Verdana;
	font-size: 8pt;
	position: relative;
	z-index: 2;
}

.symbol-info {
	position: absolute;
	border-width: 1pt;
	border-style: solid;
	border-color: black;
	min-width: 200px;
	max-width: 450px;
	min-height: 30px;
	background: white;
}

.symbol-viewer .result-element {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
