<html>
<head>
<script>
function validateForm(){
	var newName = document.forms["checkName"]["displayName"].value;
	if(newName == null || newName == ""){
		alert("Please provide a display name");
		return false;
	} 
}
</script>
</head>
<body>
<form method="POST" name="checkName" action='<%= baseurl %>/updateprofile' onsubmit="return validateForm()">
<p>Please choose a display name:</p>
<p>Name: <input type="text" name="displayName" value='<%= user.displayName %>'></p>
<input type="submit" value="Submit">
</form>
</body>
</html>