<html>
<head>
<title>JSEden Welcome</title>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
</head>
<body>
<% if (!user) { %>
	<h2>Welcome! Please log in.</h2>
<% } else { %>
	<h2>Hello, <%= user.displayName %>.</h2>
<% } %>
		<% if (!user) { %>
			<p>
			<a href="">Home</a> | 
			<a href="login">Log In</a>
			</p>
		<% } else { %>
			<p>
			<a href="">Home</a> | 
			<a href="account">Account</a> | 
			<a href="logout">Log Out</a>
			</p>
		<% } %>
</body>
</html>