<html>
<head>
<title>Join the Community</title>
<link rel="stylesheet" type="text/css" href="http://jseden.dcs.warwick.ac.uk/latest-master/css/eden.css">
<style>
.maintext {
    background-repeat: no-repeat;
    width: 70%;
    margin-left:auto;
    margin-right:auto;
   	margin-top:auto;
    margin-bottom:auto;
    color: #132023;
    background: white;
    border: 1px solid #777;
    padding: 15px;
    box-shadow: 10px 10px 10px #111;
    border-radius: 6px;
    font-family: "Source Sans Pro",Arial,sans-serif
}
.jseden-title {
    font-size: 16pt;
    font-family: "Source Sans Pro",Arial,sans-serif;
    color: #eee;
    font-weight: bold;
    /* background: #416d77; */
    padding: 10px 30px;
    border-bottom: 1px solid #eee;
}
input:checked+label{ font-weight: bold; }{
	font-weight: bold;
}
ul{
list-style-type:none;
-webkit-touch-callout: none; /* iOS Safari */
-webkit-user-select: none; /* Safari */
-khtml-user-select: none; /* Konqueror HTML */
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* Internet Explorer/Edge */
user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
</style>
</head>
<body>
<div class="maintext">
<img src="http://jseden.dcs.warwick.ac.uk/latest-master/images/construit_logo_2.png">
<h1>Join the CONSTRUIT 2017 Interest Group</h1>
<p>Thanks for your interest. We have sent you an email to confirm your interest.</p>
</div>
</body>
</html>
