<div style="position: absolute; left: 0; right: 0; top: 0; bottom: 0; text-align: center"><a href="auth/google" target="_blank"><img style="margin-bottom: 15px" border="0" src="http://emgroup.github.io/js-eden/images/btn_google_signin_light_normal_web.png"></img></a><br/>
<a href="auth/twitter" target="_blank"><img border="0" src="http://emgroup.github.io/js-eden/images/sign-in-with-twitter-link.png"></img></a></div>
